.Candidate-Name{
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 3.5px;
}

.Candidate-Page{
    padding: 20px;
}

.Candidate-Taskbox{
    border-radius: 10px;
    border: 1px solid #FFF;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 60px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Candidate-StartTest{
    color: #FFF;
text-align: center;
font-size: 26px;
font-style: normal;
font-weight: 900;
border-radius: 10px;
background: #189B03;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
width: fit-content;
padding: 10px 15px;
cursor: pointer;
}

.Candidate-StartTest:hover{
    color: #B0BEC5;
}

.Candidate-Tasks{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.Candidate-Task:hover{
    background: #B0BEC5;
}

.Candidate-Task{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.Candidate-Task img{
    width: 50%;
}